<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt=""/>
                </div>
                <h1 class="text-center">Create Activity</h1>

                <form>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Activity Id</mat-label>
                        <input matInput placeholder="Enter ActivityId">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Activity Name</mat-label>
                        <input matInput placeholder="Enter ActivityName">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Activity Description</mat-label>
                        <input matInput placeholder="Enter Description">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Activity MaxSize</mat-label>
                        <input type="number" matInput placeholder="Enter Size">
                    </mat-form-field>
                    
                    <div class="container text-center">
                        <button style="margin-right: 20px" mat-raised-button color="accent">Reset</button>
                        <button style="margin-left: 20px" mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

