<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt=""/>
                </div>
                <h1 class="text-center">Create Event</h1>

                <form>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Event Id</mat-label>
                        <input matInput placeholder="Enter EventId">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Event Name</mat-label>
                        <input matInput placeholder="Enter EventName">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Event Description</mat-label>
                        <input matInput placeholder="Enter Description">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Event TeamSize</mat-label>
                        <input type="number" matInput placeholder="Enter TeamSize">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Event Date</mat-label>
                        <input type="date" matInput placeholder="Enter Date">
                    </mat-form-field>
                    
                    <div class="container text-center">
                        <button style="margin-right: 20px" mat-raised-button color="accent">Reset</button>
                        <button style="margin-left: 20px" mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
